<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>-->
    <ui-gmap-google-map class="col-md-8"
         center="map.center"
         zoom="map.zoom"
         dragging="map.dragging"
         bounds="map.bounds"
         events="map.events"
         options="map.options"
         pan="true"
         control="map.control"
        >
<ui-gmap-map-control template="currentlocation.tpl.html" position="bottom-right" index="1" controller="controlController"></ui-gmap-map-control>
        <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" click="onMarkerClicked" options="'options'" events="map.markers2Events">
            <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                <div>
                    qqqqq
                    
                    <p ng-non-bindable >This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

                    <p class="muted">My marker will stay open when the window is popped up!</p>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
        </ui-gmap-google-map>
        <input type="text" ng-model="address">
        {{address}}
        <div id="map-canvas" style="height:400px;margin:12px;box-shadow:0 3px 25px black;"></div>
  </ion-content>
</ion-view>
